nav {
    background-color: rgb(255,255,255);
    font-family: 'Open Sans', sans-serif;
    color: rgb(103, 103, 107);
}

nav .brand-logo {
      padding-left: 30px;
      font-size: 23px;
      font-family: 'Lobster', cursive;
      color: rgba(0, 0, 0, 0.63);
      width: 100%;
}

.container{
    padding-top: 50px;
}
body{
    background-color: #FAFAFA;
    padding-left: 300px;
}


  @media only screen and (max-width : 992px) {
    body {
      padding-left: 0;
    }
  }
    